@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #1a75c1;
}

li {
  list-style: none;
}

a:hover {
  color: #004e8f;
  text-decoration: underline;
}

button {
  background-color: #004e8f;
  color: #fff;
  padding: 8px 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #1a75c1;
}

h1 {
  text-align: center;
  font-size: 1rem;
  background-color: #004e8f;
  padding: 8px;
  border: 1px solid #004e8f;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  color: #fff;
}

h2 {
  text-align: center;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-columns: 1200px;
  justify-content: center;
  justify-items: center;
  margin: auto;
}

section {
  display: grid;
  width: 100%;
  margin: 10px;
}

section > div:last-child {
  border: 1px solid #004e8f;
  border-top: none;
  border-radius: 0 0 4px 4px;
  padding: 24px;
}

section > div:last-child > div {
  display: flex;
  justify-content: space-between;
}

form > div {
  display: grid;
  margin-bottom: 16px;
}

form > div > input,
form > div > select {
  padding: 6px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 6px;
}

label {
  font-weight: bold;
}

/* Login */

.login {
  border: none;
  width: 600px;
}

.login > div > form {
  display: grid;
  justify-content: center;
  padding: 20px;
  border: 1px solid #004e8f;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.login > div > form > div {
  display: grid;
  margin-top: 0;
}

.login > div:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  border: none;
  border-radius: 0;
  padding: 0;
}

/* tela de Detalhe de Vaga (Recrutador) e tela de Detalhe de Vaga (candidato) */

.detalheVaga > div {
  padding: 16px 32px !important;
  display: grid;
  gap: 32px;
}

.detalheVaga > div > h2 {
  font-size: 1.3rem;
}

.detalheVaga > div > div:first-child {
  display: grid;
  gap: 20px;
  padding: 16px 24px;
  border: 1px solid #1a75c1;
  border-radius: 6px;
}

.detalheVaga > div > div:nth-child(3) {
  display: grid;
  justify-content: center;
  grid-template-columns: 800px;
}

.detalheVaga > div > div:nth-child(3) > div:first-child {
  display: flex;
  justify-content: space-between;
  background-color: #004e8f;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px 4px 0 0;
}

.detalheVaga > div > div:nth-child(3) > div:nth-child(2) {
  border: 1px solid #004e8f;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

.detalheVaga > div > div:nth-child(3) > div:last-child > ul {
  border: 1px #004e8f;
}

.detalheVaga > div > div:nth-child(3) > div:nth-child(2) > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border-top: 1px solid #000;
}

.detalheVaga > div > div:nth-child(3) > div:nth-child(2) button {
  background-color: #e53636;
}

.detalheVaga > div > div:nth-child(3) > div:nth-child(2) button:hover {
  background-color: #a6a6a6;
}

.detalheVaga > div > div:nth-child(3) > div:last-child {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

/* Home */
.home > div > ul > li {
  display: flex;
  justify-content: space-between;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 12px;
  cursor: pointer;
}

.home > div > ul > li:hover {
  background-color: #e0e0e0;
}

.home > div > div {
  margin-top: 16px;
}
